* {
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
	font-weight: 300;
	font-size: 1rem;
	padding: 1em;
	background: var( --white );
	color: var( --black );
}

[data-template] {
	display: none;
}

.full-width {
	min-width: 460px;
	max-width: 1200px;
	width: 100%;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.text-align-left {
	text-align: left;
}

.text-align-right {
	text-align: right;
}

a, a:link, a:visited {
	text-decoration: none;
	color: var( --blue );
}

a:hover {
	text-decoration: underline;
	color: var( --red );
}

.utility {
	background: var( --background );
	margin: 0 0 24px 0;
	padding: 12px 24px;
	border-radius: 12px;
}

.tag {
	border-radius: 4px;
	padding: 4px;
	margin: 0 4px 0 0;
	font-size: 0.75rem;
}

.example {
	font-style: italic;

}

.example::before {
	content: "Example: ";
}

.linklist--item {
	margin: 0 12px 0 0;
}

#searchbar {
	padding: 12px;
	margin: 24px 4px 0 0;
	font-size: 1rem;
	width: 100%;
}

.hide-from-search {
	display: none;
}

@media (max-width: 800px) {
	.text-align-center-small {
		text-align: center;
	}
}