:root {
	--yellow: #f1c40f;
	--blue: #3498db;
	--red: #e74c3c;
	--purple: #9b59b6;
	--orange: #f39c12;
	--green: #2ecc71;

	--black: #444444;
	--white: #FFFFFF;
	--background: #EEEEEE;
}

.c-b-yellow {
	background: var( --yellow );
}
.c-b-blue {
	background: var( --blue );
}
.c-b-red {
	background: var( --red );
}
.c-b-purple {
	background: var( --purple );
}
.c-b-orange {
	background: var( --orange );
}
.c-b-green {
	background: var( --green );
}
.c-b-black {
	background: var( --black );
}
.c-b-white {
	background: var( --white );
}

.c-c-yellow {
	color: var( --yellow );
}
.c-c-blue {
	color: var( --blue );
}
.c-c-red {
	color: var( --red );
}
.c-c-purple {
	color: var( --purple );
}
.c-c-orange {
	color: var( --orange );
}
.c-c-green {
	color: var( --green );
}
.c-c-black {
	color: var( --black );
}
.c-c-white {
	color: var( --white );
}
