@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 100;
	font-display: block;
	src: url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-Thin.woff2?v=3.15") format("woff2"),
			 url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-Thin.woff?v=3.15") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 100;
	font-display: block;
	src: url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-ThinItalic.woff2?v=3.15") format("woff2"),
			 url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-ThinItalic.woff?v=3.15") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 200;
	font-display: block;
	src: url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-ExtraLight.woff2?v=3.15") format("woff2"),
			 url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-ExtraLight.woff?v=3.15") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 200;
	font-display: block;
	src: url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-ExtraLightItalic.woff2?v=3.15") format("woff2"),
			 url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-ExtraLightItalic.woff?v=3.15") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 300;
	font-display: block;
	src: url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-Light.woff2?v=3.15") format("woff2"),
			 url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-Light.woff?v=3.15") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 300;
	font-display: block;
	src: url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-LightItalic.woff2?v=3.15") format("woff2"),
			 url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-LightItalic.woff?v=3.15") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 400;
	font-display: block;
	src: url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-Regular.woff2?v=3.15") format("woff2"),
			 url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-Regular.woff?v=3.15") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 400;
	font-display: block;
	src: url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-Italic.woff2?v=3.15") format("woff2"),
			 url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-Italic.woff?v=3.15") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 500;
	font-display: block;
	src: url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-Medium.woff2?v=3.15") format("woff2"),
			 url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-Medium.woff?v=3.15") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 500;
	font-display: block;
	src: url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-MediumItalic.woff2?v=3.15") format("woff2"),
			 url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-MediumItalic.woff?v=3.15") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 600;
	font-display: block;
	src: url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-SemiBold.woff2?v=3.15") format("woff2"),
			 url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-SemiBold.woff?v=3.15") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 600;
	font-display: block;
	src: url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-SemiBoldItalic.woff2?v=3.15") format("woff2"),
			 url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-SemiBoldItalic.woff?v=3.15") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 700;
	font-display: block;
	src: url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-Bold.woff2?v=3.15") format("woff2"),
			 url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-Bold.woff?v=3.15") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 700;
	font-display: block;
	src: url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-BoldItalic.woff2?v=3.15") format("woff2"),
			 url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-BoldItalic.woff?v=3.15") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 800;
	font-display: block;
	src: url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-ExtraBold.woff2?v=3.15") format("woff2"),
			 url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-ExtraBold.woff?v=3.15") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 800;
	font-display: block;
	src: url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-ExtraBoldItalic.woff2?v=3.15") format("woff2"),
			 url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-ExtraBoldItalic.woff?v=3.15") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 900;
	font-display: block;
	src: url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-Black.woff2?v=3.15") format("woff2"),
			 url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-Black.woff?v=3.15") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 900;
	font-display: block;
	src: url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-BlackItalic.woff2?v=3.15") format("woff2"),
			 url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-BlackItalic.woff?v=3.15") format("woff");
}

/* -------------------------------------------------------
Variable font.
Usage:

	html { font-family: 'Inter', sans-serif; }
	@supports (font-variation-settings: normal) {
		html { font-family: 'Inter var', sans-serif; }
	}
*/
@font-face {
	font-family: 'Inter var';
	font-weight: 100 900;
	font-display: block;
	font-style: normal;
	font-named-instance: 'Regular';
	src: url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-roman.var.woff2?v=3.15") format("woff2");
}
@font-face {
	font-family: 'Inter var';
	font-weight: 100 900;
	font-display: block;
	font-style: italic;
	font-named-instance: 'Italic';
	src: url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter-italic.var.woff2?v=3.15") format("woff2");
}


/* --------------------------------------------------------------------------
[EXPERIMENTAL] Multi-axis, single variable font.

Slant axis is not yet widely supported (as of February 2019) and thus this
multi-axis single variable font is opt-in rather than the default.

When using this, you will probably need to set font-variation-settings
explicitly, e.g.

	* { font-variation-settings: "slnt" 0deg }
	.italic { font-variation-settings: "slnt" 10deg }

*/
@font-face {
	font-family: 'Inter var experimental';
	font-weight: 100 900;
	font-display: block;
	font-style: oblique 0deg 10deg;
	src: url("https://fonts.codeberg.org/dist/inter/Inter Web/Inter.var.woff2?v=3.15") format("woff2");
}